body {
  color: #535353;
  font-size: 13px;
  font-weight: normal;
  background: #FDFDFD;
  font-family: "Futura", "Helvetica Neue", "Arial", sans-serif;
}

body {
  overflow: hidden;
  background-color: #f4f4f4;
  font-family: georgia;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.map_container {
  position: absolute;
  top: 0px;
  right: 250px;
  left: 0px;
  bottom: 0px;
}

.sidebar {
  max-height: 100%;
  overflow-y:scroll;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 230px;
  padding: 0px 5px 90px 5px;
}

.sidebar h2{
	font-size: 1.6em;
	text-align: center;
	font-family: 'Arvo', arial, serif;
	text-shadow: 2px 2px 3px #888;
}

.sidebar h3{
	margin-top: 10px;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Arvo', arial, serif;
	
}

.map_header {
  position:absolute;
  left: 10px;
  bottom: 10px;
  width: 200px;
}

a {
  font-family: Helvetica, Arial, sans-serif;
  color: #111111;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}